<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Which provider -->
    <add key ="provider" value="System.Data.SqlClient"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="SaltPileSQLProvider"
         connectionString="Data Source=STANLEY\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=True"/>
  </connectionStrings>
</configuration>

